html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Calibri;
}

.content {
    width: 97%;
    margin-bottom: 20%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.navbar {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}

.navbar:hover {
    color: #f1f1f1;
}

#main {
    height: 50px;
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#ham {
    font-size: 30px;
    cursor: pointer;
    float: left;
    background-color: transparent;
    color: #818181;
    visibility: hidden;
}

#ham:hover {
    color: #0066cc;
}

#logCart {
    color: #111;
    padding: 8px 8px 8px 8px;
    font-size: 20px;
    float: right;
}

#logCart2 {
    display: none;
}

.categories {
    flex: 20%;
    float: left;
    margin: 5% 1% 0% 1%;
    padding: 1%;
}

.categories p {
    font-size: 1.2em;
    color: white;
    padding: 5%;
    background-color: #668cff;
    box-shadow: 5px 5px 5px 5px rgba(102, 140, 255, 0.3);
    transition: 0.2s;
}

.categories p:active {
    transform: translateY(4px);
    box-shadow: 3px 3px 3px 3px rgba(0, 51, 204, 0.3);
    transition: 0.2s;
}

.categories a:link {
    text-decoration: none;
    color: black;
}

.categories a:visited {
    text-decoration: none;
    color: black;
}

.categories a:hover {
    text-decoration: none;
    color: black;
}

.categories a:active {
    text-decoration: none;
    color: black;
}

.products {
    flex: 60%;
    float: left;
    margin: 5% 1% 0% 1%;
    padding: 1%;
}

.products a:link {
    text-decoration: none;
    color: black;
}

.products a:visited {
    text-decoration: none;
    color: black;
}

.products a:hover {
    text-decoration: none;
    color: black;
}

.products a:active {
    text-decoration: none;
    color: black;
}

.row {
    width: 90%;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.photo {
    width: 150px;
    height: 150px;
    float: left;
    margin: 1%;
    padding: 1%;
}

.nameANDprice {
    flex: 50%;
    float: left;
    margin: 1%;
    padding: 2%;
    font-size: 24px;
}

table {
    background-color: #f2f2f2;
    padding: 5%;
    margin-top: 2%;
    width: 100%;
    font-size: 20px;
}

tr,
td {
    text-align: center;
}

#plus {
    font-size: 28px;
    font-weight: bold;
}

#minus {
    font-size: 28px;
    font-weight: bold;
}

.order {
    width: 90px;
    height: 35px;
    position: relative;
    left: 75%;
}

.orderForms {
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

input[type=text],
[type=email],
[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=button] {
    width: 100%;
    background-color: #ff9900;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #e68a00;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#new {
    text-align: center;
}

#addToCart {
    float: right;
}

#sum {
    float: right;
}

h3 {
    margin-bottom: 2%
}

li {
    font-size: 24px;
    list-style-type: none;
    /*display: inline;*/
}

img {
    width: 100%;
    height: 100%;
    margin: 1%;
    padding: 1%;
}

.footer {
    background-color: #000;
    height: 70px;
    padding: 25px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

@media(max-width: 700px) {
    img {
        width: 100%;
        height: 100%;
        margin: 1%;
    }
    .categories {
        display: none;
    }
    #logCart {
        display: none;
    }
    #logCart2 {
        display: block;
    }
    .products {
        float: left;
        margin: 8% 7% 0% 7%;
        padding: 7%;
    }
    #ham {
        visibility: visible;
    }
}
